<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IAppCityDao">
	<resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.AppCity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="layer" jdbcType="INTEGER" property="layer" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="sort_id" jdbcType="TIMESTAMP" property="sortId" />
		<result column="zipcode" jdbcType="VARCHAR" property="zipcode" />
		<result column="lcode" jdbcType="INTEGER" property="lcode" />
		<result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
		<result column="param_setting" jdbcType="VARCHAR" property="paramSetting" />
	</resultMap>
	<sql id="Base_Column_List">
		id, pid, layer, name, status, sort_id, zipcode, lcode, pinyin,
		param_setting
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_city
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from app_city
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dopakoala.douba.entity.AppCity">
		insert into app_city
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="layer != null">
				layer,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sortId != null">
				sort_id,
			</if>
			<if test="zipcode != null">
				zipcode,
			</if>
			<if test="lcode != null">
				lcode,
			</if>
			<if test="pinyin != null">
				pinyin,
			</if>
			<if test="paramSetting != null">
				param_setting,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="layer != null">
				#{layer,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="sortId != null">
				#{sortId,jdbcType=TIMESTAMP},
			</if>
			<if test="zipcode != null">
				#{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="lcode != null">
				#{lcode,jdbcType=INTEGER},
			</if>
			<if test="pinyin != null">
				#{pinyin,jdbcType=VARCHAR},
			</if>
			<if test="paramSetting != null">
				#{paramSetting,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.AppCity">
		update app_city
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="layer != null">
				layer = #{layer,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="sortId != null">
				sort_id = #{sortId,jdbcType=TIMESTAMP},
			</if>
			<if test="zipcode != null">
				zipcode = #{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="lcode != null">
				lcode = #{lcode,jdbcType=INTEGER},
			</if>
			<if test="pinyin != null">
				pinyin = #{pinyin,jdbcType=VARCHAR},
			</if>
			<if test="paramSetting != null">
				param_setting = #{paramSetting,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>