<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IAppVersionDao">
	<resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.AppVersion">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="forceupdate" jdbcType="INTEGER" property="forceupdate" />
		<result column="filemd5" jdbcType="VARCHAR" property="filemd5" />
		<result column="platform" jdbcType="VARCHAR" property="platform" />
		<result column="filename" jdbcType="VARCHAR" property="filename" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="INTEGER" property="createUser" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="modify_account" jdbcType="INTEGER" property="modifyAccount" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="date1" jdbcType="TIMESTAMP" property="date1" />
		<result column="date2" jdbcType="TIMESTAMP" property="date2" />
		<result column="page" jdbcType="INTEGER" property="page" />
		<result column="pagesize" jdbcType="INTEGER" property="pagesize" />
		<result column="sqlWhere" jdbcType="VARCHAR" property="sqlWhere" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	<sql id="Base_Column_List">
		id, version, forceupdate, filemd5, platform, filename,
		content,
		create_time, create_user,
		modify_time, modify_account,url
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_version
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByFileName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_version
		where filename like
		CONCAT(#{filename,jdbcType=VARCHAR},'%' )
	</select>
	<select id="selectLatest" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_version
		order by version desc,create_time desc
		limit 0,1
	</select>
	<select id="selectByVersion" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from app_version
		where version = #{version,jdbcType=INTEGER}
	</select>
	<select id="selectListByPlatform" parameterType="com.dopakoala.douba.entity.AppVersion"
		resultMap="BaseResultMap">
		select v.*,u.name as name
		from app_version v
		left join admin_user u on
		u.uid =
		v.create_user
		where
		v.platform = #{platform,jdbcType=VARCHAR}
		<if test="date1 != null and date2 != null">
			and v.create_time between #{date1,jdbcType=TIMESTAMP} and
			#{date2,jdbcType=TIMESTAMP}
		</if>
		<if test="sqlWhere != null">
			${sqlWhere}
		</if>
		order by
		v.version desc,v.create_time desc
		<if test="page > 0 || pagesize > 0">
			limit
			#{page,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		app_version
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dopakoala.douba.entity.AppVersion">
		insert into app_version
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="forceupdate != null">
				forceupdate,
			</if>
			<if test="filemd5 != null">
				filemd5,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="filename != null">
				filename,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="modifyAccount != null">
				modify_account,
			</if>
			<if test="url != null">
				url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="forceupdate != null">
				#{forceupdate,jdbcType=INTEGER},
			</if>
			<if test="filemd5 != null">
				#{filemd5,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="filename != null">
				#{filename,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				#{modifyAccount,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.AppVersion">
		update app_version
		<set>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="forceupdate != null">
				forceupdate = #{forceupdate,jdbcType=INTEGER},
			</if>
			<if test="filemd5 != null">
				filemd5 = #{filemd5,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="filename != null">
				filename = #{filename,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				modify_account = #{modifyAccount,jdbcType=INTEGER},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>