<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IGroupUserSignDao">
	<resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.GroupUserSign">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="gid" jdbcType="INTEGER" property="gid" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="targetmiles" jdbcType="INTEGER" property="targetmiles" />
		<result column="nowmiles" jdbcType="DECIMAL" property="nowmiles" />
		<result column="lastdate" jdbcType="INTEGER" property="lastdate" />
		<result column="resetdate" jdbcType="INTEGER" property="resetdate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, gid, uid, targetmiles, nowmiles, lastdate, resetdate
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from group_user_sign
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByGidUid" parameterType="com.dopakoala.douba.entity.GroupUserSign"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from group_user_sign
		where uid = #{uid,jdbcType=INTEGER}
		and gid =
		#{gid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		group_user_sign
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dopakoala.douba.entity.GroupUserSign">
		insert into group_user_sign
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="gid != null">
				gid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="targetmiles != null">
				targetmiles,
			</if>
			<if test="nowmiles != null">
				nowmiles,
			</if>
			<if test="lastdate != null">
				lastdate,
			</if>
			<if test="resetdate != null">
				resetdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="gid != null">
				#{gid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="targetmiles != null">
				#{targetmiles,jdbcType=INTEGER},
			</if>
			<if test="nowmiles != null">
				#{nowmiles,jdbcType=DECIMAL},
			</if>
			<if test="lastdate != null">
				#{lastdate,jdbcType=INTEGER},
			</if>
			<if test="resetdate != null">
				#{resetdate,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.GroupUserSign">
		update group_user_sign
		<set>
			<if test="gid != null">
				gid = #{gid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="targetmiles != null">
				targetmiles = #{targetmiles,jdbcType=INTEGER},
			</if>
			<if test="nowmiles != null">
				nowmiles = #{nowmiles,jdbcType=DECIMAL},
			</if>
			<if test="lastdate != null">
				lastdate = #{lastdate,jdbcType=INTEGER},
			</if>
			<if test="resetdate != null">
				resetdate = #{resetdate,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateAllByNowmiles">
		update group_user_sign set
		nowmiles = 0
	</update>
</mapper>