<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IHistoryMsgDao">
	<resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.HistoryMsg">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="appid" jdbcType="VARCHAR" property="appid" />
		<result column="form_user_id" jdbcType="INTEGER" property="formUserId" />
		<result column="to_user_id" jdbcType="INTEGER" property="toUserId" />
		<result column="targettype" jdbcType="INTEGER" property="targetType" />
		<result column="group_id" jdbcType="INTEGER" property="groupId" />
		<result column="classname" jdbcType="VARCHAR" property="classname" />
		<result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
		<result column="msg_uid" jdbcType="VARCHAR" property="msgUid" />
		<result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
		<result column="voice_url" jdbcType="VARCHAR" property="voiceUrl" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="latitude" jdbcType="DECIMAL" property="latitude" />
		<result column="longitude" jdbcType="DECIMAL" property="longitude" />
		<result column="poi" jdbcType="VARCHAR" property="poi" />
		<result column="file_name" jdbcType="VARCHAR" property="fileName" />
		<result column="file_size" jdbcType="INTEGER" property="fileSize" />
		<result column="file_type" jdbcType="VARCHAR" property="fileType" />
		<result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
		<result column="turn_url" jdbcType="VARCHAR" property="turnUrl" />
		<result column="content" jdbcType="LONGVARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		id, appid, form_user_id, to_user_id, targettype, group_id,
		classname, date_time,
		msg_uid, img_url, voice_url, title, latitude,
		longitude, poi, file_name,
		file_size,
		file_type, file_url, turn_url,content
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from history_msg
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByMsgId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from history_msg
		where msg_uid = #{msgUid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		history_msg
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dopakoala.douba.entity.HistoryMsg">
		insert into history_msg
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="appid != null">
				appid,
			</if>
			<if test="formUserId != null">
				form_user_id,
			</if>
			<if test="toUserId != null">
				to_user_id,
			</if>
			<if test="targetType != null">
				targettype,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
			<if test="classname != null">
				classname,
			</if>
			<if test="dateTime != null">
				date_time,
			</if>
			<if test="msgUid != null">
				msg_uid,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
			<if test="voiceUrl != null">
				voice_url,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="poi != null">
				poi,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="fileSize != null">
				file_size,
			</if>
			<if test="fileType != null">
				file_type,
			</if>
			<if test="fileUrl != null">
				file_url,
			</if>
			<if test="turnUrl != null">
				turn_url,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="appid != null">
				#{appid,jdbcType=VARCHAR},
			</if>
			<if test="formUserId != null">
				#{formUserId,jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				#{toUserId,jdbcType=INTEGER},
			</if>
			<if test="targetType != null">
				#{targetType,jdbcType=INTEGER},
			</if>
			<if test="groupId != null">
				#{groupId,jdbcType=INTEGER},
			</if>
			<if test="classname != null">
				#{classname,jdbcType=VARCHAR},
			</if>
			<if test="dateTime != null">
				#{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="msgUid != null">
				#{msgUid,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="voiceUrl != null">
				#{voiceUrl,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DECIMAL},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DECIMAL},
			</if>
			<if test="poi != null">
				#{poi,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
				#{fileSize,jdbcType=INTEGER},
			</if>
			<if test="fileType != null">
				#{fileType,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
				#{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="turnUrl != null">
				#{turnUrl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.HistoryMsg">
		update history_msg
		<set>
			<if test="appid != null">
				appid = #{appid,jdbcType=VARCHAR},
			</if>
			<if test="formUserId != null">
				form_user_id = #{formUserId,jdbcType=INTEGER},
			</if>
			<if test="toUserId != null">
				to_user_id = #{toUserId,jdbcType=INTEGER},
			</if>
			<if test="targetType != null">
				targettype = #{targetType,jdbcType=INTEGER},
			</if>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=INTEGER},
			</if>
			<if test="classname != null">
				classname = #{classname,jdbcType=VARCHAR},
			</if>
			<if test="dateTime != null">
				date_time = #{dateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="msgUid != null">
				msg_uid = #{msgUid,jdbcType=VARCHAR},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
			<if test="voiceUrl != null">
				voice_url = #{voiceUrl,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=DECIMAL},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=DECIMAL},
			</if>
			<if test="poi != null">
				poi = #{poi,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
				file_size = #{fileSize,jdbcType=INTEGER},
			</if>
			<if test="fileType != null">
				file_type = #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="fileUrl != null">
				file_url = #{fileUrl,jdbcType=VARCHAR},
			</if>
			<if test="turnUrl != null">
				turn_url = #{turnUrl,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>