<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IOrdersGoodsDetailDao">
    <resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.OrdersGoodsDetail">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
        <result column="price" jdbcType="BIGINT" property="price" />
        <result column="nums" jdbcType="INTEGER" property="nums" />
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, status, goodsname, price, nums
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from orders_goods_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from orders_goods_detail
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.dopakoala.douba.entity.OrdersGoodsDetail">
        insert into orders_goods_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="goodsname != null">
                goodsname,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="nums != null">
                nums,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="goodsname != null">
                #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=BIGINT},
            </if>
            <if test="nums != null">
                #{nums,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.OrdersGoodsDetail">
        update orders_goods_detail
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="goodsname != null">
                goodsname = #{goodsname,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=BIGINT},
            </if>
            <if test="nums != null">
                nums = #{nums,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>