<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dopakoala.douba.dao.IUserDao">
	<resultMap id="BaseResultMap" type="com.dopakoala.douba.entity.User">
		<id column="uid" jdbcType="INTEGER" property="uid" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="password_salt" jdbcType="VARCHAR" property="passwordSalt" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="regtime" jdbcType="INTEGER" property="regtime" />
		<result column="logintime" jdbcType="INTEGER" property="logintime" />
		<result column="logintimes" jdbcType="INTEGER" property="logintimes" />
		<result column="points" jdbcType="INTEGER" property="points" />
		<result column="advance" jdbcType="INTEGER" property="advance" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user" jdbcType="INTEGER" property="createUser" />
		<result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="modify_account" jdbcType="INTEGER" property="modifyAccount" />
		<result column="token" jdbcType="VARCHAR" property="token" />
		<result column="adress" jdbcType="VARCHAR" property="adress" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="personal_introduction" jdbcType="VARCHAR"
			property="personalIntroduction" />
		<result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
		<result column="sign" jdbcType="VARCHAR" property="sign" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="graduate" jdbcType="VARCHAR" property="graduate" />
		<result column="page" jdbcType="INTEGER" property="page" />
		<result column="pagesize" jdbcType="INTEGER" property="pagesize" />
		<result column="adressDetail" jdbcType="VARCHAR" property="adressDetail" />
		<result column="money" jdbcType="INTEGER" property="money" />
		<result column="nocashmoney" jdbcType="INTEGER" property="nocashmoney" />
		<result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
		<result column="date1" jdbcType="TIMESTAMP" property="date1" />
		<result column="date2" jdbcType="TIMESTAMP" property="date2" />
		<result column="sqlWhere" jdbcType="VARCHAR" property="sqlWhere" />
		<result column="openid" jdbcType="VARCHAR" property="openid" />
		<result column="create_group" jdbcType="INTEGER" property="createGroup" />
		<result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
	</resultMap>
	<sql id="Base_Column_List">
		uid, status, nickname, mobile, username, password,
		password_salt, avatar, regtime,
		logintime, logintimes, points, advance,
		create_time, create_user, modify_time,
		modify_account,
		token, adress,
		sex, birthday, realname, personal_introduction,
		qr_code,sign,email,graduate,money,nocashmoney,openid,create_group,pay_pwd
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select u.*,
		case
		when a3.value = a2.value
		then
		concat(ifnull(a3.value,''),if(a3.value is
		not null and a1.value is
		not
		null,'-',''),ifnull(a1.value,''))
		else
		concat(ifnull(a3.value,''),if(a3.value is not null and a2.value is
		not
		null,'-',''),ifnull(a2.value,''),if(a2.value is not null and
		a1.value
		is not null,'-',''),ifnull(a1.value,'')) end as adressDetail
		from user
		u
		left
		join area_number a1
		on a1.code = u.adress
		left join area_number a2
		on
		a2.code = a1.pid
		left join area_number a3
		on a3.code = a2.pid
		where
		u.uid
		= #{uid,jdbcType=INTEGER}
	</select>
	<select id="selectByOpenId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from user where openid = #{openid,jdbcType=VARCHAR}
		and status != -1
	</select>
	<select id="selectByMobile" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select u.*,case when u.thumbnail is null then u.avatar when
		u.thumbnail = '' then u.avatar when u.thumbnail != '' then u.thumbnail
		end as thumbnail
		from user u
		where u.mobile = #{mobile}
		and u.status !=
		-1
	</select>
	<select id="selectByGid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select u.*,case when u.thumbnail is null then u.avatar when
		u.thumbnail = '' then u.avatar when u.thumbnail != '' then u.thumbnail
		end as thumbnail from `group` g
		left join group_user gu
		on gu.gid =
		g.gid and gu.root = 1 and
		gu.status = 1
		left join user u on u.uid =
		gu.uid and
		u.status = 1
		where u.uid is not null
		and g.gid =
		#{gid,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap"
		parameterType="com.dopakoala.douba.entity.User">
		select u.*,case when u.thumbnail is null then u.avatar when
		u.thumbnail = '' then u.avatar when u.thumbnail != '' then u.thumbnail
		end as thumbnail,case
		when a3.value = a2.value
		then
		concat(ifnull(a3.value,''),if(a3.value is
		not null and a1.value is
		not
		null,'-',''),ifnull(a1.value,''))
		else
		concat(ifnull(a3.value,''),if(a3.value is not null and a2.value is
		not
		null,'-',''),ifnull(a2.value,''),if(a2.value is not null and
		a1.value
		is not null,'-',''),ifnull(a1.value,'')) end as adressDetail
		from user
		u
		left
		join area_number a1
		on a1.code = u.adress
		left join area_number a2
		on
		a2.code = a1.pid
		left join area_number a3
		on a3.code = a2.pid
		where 1 =
		1
		<if test="date1 != null and date2 != null">
			and u.create_time between #{date1,jdbcType=TIMESTAMP} and
			#{date2,jdbcType=TIMESTAMP}
		</if>
		<if test="sqlWhere != null">
			${sqlWhere}
		</if>
		order by
		u.create_time desc
		<if test="page > 0 || pagesize > 0">
			limit
			#{page,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectByLoginMsg" parameterType="com.dopakoala.douba.entity.User"
		resultMap="BaseResultMap">
		select u.*,case when u.thumbnail is null then u.avatar when
		u.thumbnail = '' then u.avatar when u.thumbnail != '' then u.thumbnail
		end as thumbnail
		from user u
		where u.mobile = #{mobile,jdbcType=VARCHAR}
		and u.password =
		#{password,jdbcType=VARCHAR} and status != -1
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where uid = #{uid,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="com.dopakoala.douba.entity.User"
		useGeneratedKeys="true" keyProperty="uid">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="nickname != null">
				nickname,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="passwordSalt != null">
				password_salt,
			</if>
			<if test="avatar != null">
				avatar,
			</if>
			<if test="regtime != null">
				regtime,
			</if>
			<if test="logintime != null">
				logintime,
			</if>
			<if test="logintimes != null">
				logintimes,
			</if>
			<if test="points != null">
				points,
			</if>
			<if test="advance != null">
				advance,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="modifyAccount != null">
				modify_account,
			</if>
			<if test="token != null">
				token,
			</if>
			<if test="adress != null">
				adress,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="personalIntroduction != null">
				personal_introduction,
			</if>
			<if test="qrCode != null">
				qr_code,
			</if>
			<if test="sign != null">
				sign,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="graduate != null">
				graduate,
			</if>
			<if test="money != null">
				money,
			</if>
			<if test="nocashmoney != null">
				nocashmoney,
			</if>
			<if test="thumbnail != null">
				thumbnail,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="createGroup != null">
				create_group,
			</if>
			<if test="payPwd != null">
				pay_pwd,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="passwordSalt != null">
				#{passwordSalt,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				#{avatar,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				#{regtime,jdbcType=INTEGER},
			</if>
			<if test="logintime != null">
				#{logintime,jdbcType=INTEGER},
			</if>
			<if test="logintimes != null">
				#{logintimes,jdbcType=INTEGER},
			</if>
			<if test="points != null">
				#{points,jdbcType=INTEGER},
			</if>
			<if test="advance != null">
				#{advance,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				#{modifyAccount,jdbcType=INTEGER},
			</if>
			<if test="token != null">
				#{token,jdbcType=VARCHAR},
			</if>
			<if test="adress != null">
				#{adress,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="personalIntroduction != null">
				#{personalIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="qrCode != null">
				#{qrCode,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				#{sign,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="graduate != null">
				#{graduate,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				#{money,jdbcType=INTEGER},
			</if>
			<if test="nocashmoney != null">
				#{nocashmoney,jdbcType=INTEGER},
			</if>
			<if test="thumbnail != null">
				#{thumbnail,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="createGroup != null">
				#{createGroup,jdbcType=INTEGER},
			</if>
			<if test="payPwd != null">
				#{payPwd,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dopakoala.douba.entity.User">
		update user
		<set>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="nickname != null">
				nickname = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="passwordSalt != null">
				password_salt = #{passwordSalt,jdbcType=VARCHAR},
			</if>
			<if test="avatar != null">
				avatar = #{avatar,jdbcType=VARCHAR},
			</if>
			<if test="regtime != null">
				regtime = #{regtime,jdbcType=INTEGER},
			</if>
			<if test="logintime != null">
				logintime = #{logintime,jdbcType=INTEGER},
			</if>
			<if test="logintimes != null">
				logintimes = #{logintimes,jdbcType=INTEGER},
			</if>
			<if test="points != null">
				points = #{points,jdbcType=INTEGER},
			</if>
			<if test="advance != null">
				advance = #{advance,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyAccount != null">
				modify_account = #{modifyAccount,jdbcType=INTEGER},
			</if>
			<if test="token != null">
				token = #{token,jdbcType=VARCHAR},
			</if>
			<if test="adress != null">
				adress = #{adress,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="personalIntroduction != null">
				personal_introduction =
				#{personalIntroduction,jdbcType=VARCHAR},
			</if>
			<if test="qrCode != null">
				qr_code = #{qrCode,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				sign = #{sign,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="graduate != null">
				graduate = #{graduate,jdbcType=VARCHAR},
			</if>
			<if test="money != null">
				money = #{money,jdbcType=INTEGER},
			</if>
			<if test="nocashmoney != null">
				nocashmoney = #{nocashmoney,jdbcType=INTEGER},
			</if>
			<if test="thumbnail != null">
				thumbnail = #{thumbnail,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				openid = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="createGroup != null">
				create_group = #{createGroup,jdbcType=INTEGER},
			</if>
			<if test="payPwd != null">
				pay_pwd = #{payPwd,jdbcType=VARCHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=INTEGER}
	</update>
</mapper>