<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
	<!-- 初始化验证码参数 -->
	<bean id="kcaptchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<!-- 通过构造方法注入 -->
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">yes</prop><!-- 验证码边框是否显示 -->
						<prop key="kaptcha.border.color">105,179,90</prop>  <!-- 边框颜色 -->
						<prop key="kaptcha.textproducer.font.color">blue</prop> <!-- 验证码颜色 -->
						<prop key="kaptcha.image.width">80</prop><!-- 验证码宽度 -->
						<prop key="kaptcha.image.height">30</prop> <!-- 验证码高度 -->
						<prop key="kaptcha.textproducer.font.size">24</prop> <!-- 验证码大小 -->
						<prop key="kaptcha.textproducer.char.string">abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</prop> <!-- 文本集合，验证码值从此集合中获取 -->
						<prop key="kaptcha.session.key">kaptchaCode</prop> <!-- 验证码的key(通过key获取验证码的值) -->
						<prop key="kaptcha.textproducer.char.length">4</prop> <!-- 验证码位数 -->
						<prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop> <!-- 验证码字体 -->
						<prop key="kaptcha.textproducer.char.space">4</prop> <!-- 验证码文字间隔 -->
						<prop key="kaptcha.noise.color">white</prop> <!-- 验证码干扰颜色 -->
						<prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop> <!-- 验证码干扰样式 -->
						<prop key="kaptcha.background.clear.from">192,192,192</prop> <!-- 验证码背景颜色渐变，开始颜色 -->
						<prop key="kaptcha.background.clear.to">white</prop> <!-- 验证码背景颜色渐变，结束颜色 -->
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>
</beans>