@CHARSET "UTF-8";

td {
	width: 200px;
	height: 40px;
}

td input {
	width: 180px;
	height: 30px;
	border: solid 1px #707070;
}

input{
	padding:0 5px;
}

.lable {
	width: 100px;
	text-align: right;
}

.txt {
	text-align: left;
}

.button {
	padding-left: 24px;
	text-align: center;
}

.button input {
	width: 106px;
	margin: 10px;
}

.verificationCode {
	background: none;
	border: none;
	height: 28px;
	width: 90px;
}

.code_input {
	float: left;
	border: 1px solid #707070;
	margin-right: 8px;
	width: 92px;
}

.tip{
	width:16px;
	margin-top: -1px;
	position: absolute;
	left:169px;
	top:93px;
	display: none;
}

.code {
	float: left;
}